---

name: cron-tasks

on:
  schedule:
    - cron: '30 3 * * 0'

  workflow_dispatch:

env:
  PYTHON_VERSION: '3.14.x'

permissions:
    actions: read
    contents: read
    issues: read
    pull-requests: read

jobs:
  badge-coverage: # https://github.com/tagdots/setup-badge-action
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    outputs:
      COV_PER: ${{ steps.get-coverage-results.outputs.COV_PER }}
      COV_RUN: ${{ steps.get-coverage-results.outputs.COV_RUN }}

    steps:
    - id: checkout-source-code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

    - id: setup-Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - id: install-python-deps
      run: make local-install

    - id: coverage-run
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PYTHONUNBUFFERED: "1"
      run: make test

    - id: get-coverage-results
      run: |
        # get coverage results
        echo "COV_RUN=${{ steps.run-coverage.outcome }}"                  >> "$GITHUB_OUTPUT"
        echo "COV_PER=$(coverage report | grep TOTAL | awk '{print $6}')" >> "$GITHUB_OUTPUT"

    - id: upload-coverage
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: coverage
        path: htmlcov/
        if-no-files-found: error
        retention-days: 1
        overwrite: true
        compression-level: 6

    - id: coverage-badge
      uses: tagdots/setup-badge-action@294661aa1f149b59dfe1cd187539eca7f8f0fabf # 1.0.18
      with:
        badge-name: coverage
        badge-url: https://github.com/tagdots/setup-badge/actions/workflows/cron-tasks.yaml
        label: "Code Coverage"
        message: "${{ steps.get-coverage-results.outputs.COV_PER }}"

  badge-marketplace: # https://github.com/tagdots/setup-badge-action
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - id: marketplace-badge
      uses: tagdots/setup-badge-action@294661aa1f149b59dfe1cd187539eca7f8f0fabf # 1.0.18
      with:
        badge-name: marketplace
        badge-url: https://github.com/marketplace/actions/setup-badge-action
        label: Marketplace
        message: setup-badge-action
        message-color: FF6360

  stale-workflow-runs: # https://github.com/tagdots/delete-workflow-runs
    runs-on: ubuntu-latest

    permissions:
      actions: write
      contents: read

    steps:
    - name: Run delete-workflow-runs
      id: delete-workflow-runs
      uses: tagdots/delete-workflow-runs@4303b7da352de2004b0c5f118420cf9f1d63a370 # 1.2.33
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        repo-url: ${{ github.server_url }}/${{ github.repository }}
        max-days: 10
        dry-run: false

    - name: Get data and set GITHUB_OUTPUT
      id: get_data
      shell: bash
      run: |
        # get data from the last step to set GITHUB_OUTPUT
        cat data_dict.log | jq .

  stale-issues-prs: # https://github.com/actions/stale
    runs-on: ubuntu-latest

    permissions:
      actions: write
      contents: write
      issues: write
      pull-requests: write

    steps:
    - name: Run stale-issues-prs
      id: stale-issues-prs
      uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
      with:
        stale-issue-message: 'This issue is stale because it has been open 5 days with no activity. Remove stale label or comment or this will be closed in 3 days after stale'
        days-before-stale: 5
        days-before-close: 3
        delete-branch: true

  stale-branches: # https://github.com/tagdots/delete-branches
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: read

    steps:
    - name: Run delete-branches
      id: delete-branches
      uses: tagdots/delete-branches@1067f6cf756a462d2da56cffae2df37ea15b600e # 1.2.15
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        repo-url: ${{ github.server_url }}/${{ github.repository }}
        max-idle-days: 10
        exclude-branches: 'badges'
        dry-run: false

  update-pre-commit: # https://github.com/tagdots/update-pre-commit-action
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Run update-pre-commit
      id: update-pre-commit
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: tagdots/update-pre-commit-action@a80688d12cf761973e340674bcf552af366afba5 # 1.0.28
      with:
        file: .pre-commit-config.yaml
        dry-run: false
        open-pr: true

  notify-slack: # https://github.com/slackapi/slack-github-action
    if: always()
    needs: [badge-coverage, badge-marketplace, stale-workflow-runs, stale-issues-prs, stale-branches, update-pre-commit]

    runs-on: ubuntu-latest

    outputs:
      WORKFLOW_RESULT: ${{ steps.get-overall-jobs-results.outputs.WORKFLOW_RESULT }}

    steps:

    - name: Get Overall Jobs Results
      id: get-overall-jobs-results
      shell: bash
      run: |
        # get overall result from all of the previous jobs
        if "${{ needs.badge-coverage.result == 'success' && needs.badge-marketplace.result == 'success' && needs.stale-workflow-runs.result == 'success' && needs.stale-issues-prs.result == 'success' && needs.stale-branches.result == 'success' && needs.update-pre-commit.result == 'success' }}"; then
          echo "WORKFLOW_RESULT=:white_check_mark:" >> "$GITHUB_OUTPUT"
        else
          echo "WORKFLOW_RESULT=:no_entry:" >> "$GITHUB_OUTPUT"
        fi

    - name: Post message to Slack
      uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
      with:
        method: chat.postMessage
        token: "${{ secrets.SECRET_SLACK_APP_GITHUB_BOT }}"
        payload: |
          channel: "${{ secrets.SECRET_SLACK_CHANNEL_CRON_TASKS }}"
          text: "
              *Repository: ${{ github.repository }}*\n
              *Workflow : ${{ github.workflow }} ${{ steps.get-overall-jobs-results.outputs.WORKFLOW_RESULT }}*
              ```
              URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}\n
              Job: badge-coverage      - ${{ needs.badge-coverage.result }}\n
              Job: badge-marketplace   - ${{ needs.badge-marketplace.result }}\n
              Job: stale-workflow-runs - ${{ needs.stale-workflow-runs.result }}\n
              Job: stale-issues-prs    - ${{ needs.stale-issues-prs.result }}\n
              Job: stale-branches      - ${{ needs.stale-branches.result }}\n
              Job: update-pre-commit   - ${{ needs.update-pre-commit.result }}
              ```"
